@import "variables.scss";


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    // header start
    .menu ul li a {
        padding-right: 0 !important;
        margin-top: 10px;
        text-align: right;
    }

    // header end
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

    // header start
    .menu ul li a {
        padding-right: 0 !important;
        margin-top: 10px;
        text-align: right;
    }

    // header end

    // feature start

    .social {
        button {
            padding: 12px 20%;
            margin-right: 13%;
        }
        input{
            margin-left: 10%;
            padding-right: 10%;
        }
    }

    // feature end
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

    // header start
    .menu ul li a {
        padding-right: 0 !important;
        margin-top: 10px;
        text-align: right;
    }

    // header end

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}