@import "variables.scss";




// global start
body {
    color: $mainFontColor;
    font-family: 'PT Sans', sans-serif;
}

i{
    font-size: 40px;
    padding: 10px 0;
}

// global end

// header start
header {
    background: $mainYellow;
    padding: 30px 0;
}

.menu {


    ul {
        li {
            a {
                padding-right: 51px !important;
                font-size: 21px;
                font-weight: bold;
                color: $mainFontColor;
            }
        }
    }
}

// header end

// slider start

.slider {
    background-color: $mainYellow;
    padding-top: 25px;
    padding-bottom: 65px;
}

.cus_indicator {
    bottom: -60px;

    li {
        width: 15px !important;
        height: 15px !important;
        border-radius: 50% !important;
    }
}

.s_content {

    h2 {
        margin-top: 64px;
    }

    h5 {
        padding: 15px 0;
    }


}

.cus_img {
    img {
        // margin-left: 30%;

    }
}

// slider end

// features start

.features{
    padding: 80px 0;
}

.f_title {

    h5{
        margin-bottom: 80px;
    }
}


// features end

