@import "variables.scss";

// mixin start



// mixin end



// global start
body{
    color: $mainFontColor;
    font-family: HelveticaNeueBd;
}


// global end

// header start
header{
    background: $mainYellow;
}
// header end