body {
  color: #010101 !important;
  font-family: 'PT Sans', sans-serif;
}

i {
  font-size: 40px;
  padding: 10px 0;
}

.title {
  font-size: 32px;
  color: #010101 !important;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  color: #313841;
}

.subtitle2 {
  font-size: 16px;
  color: #555555;
}

header {
  background: #ffd500;
  padding: 30px 0;
}

nav a {
  padding-right: 51px !important;
  font-size: 21px;
  font-weight: bold;
  color: #010101 !important;
}

nav a:hover {
  color: white !important;
}

.slider {
  background-color: #ffd500;
  padding-top: 25px;
  padding-bottom: 65px;
}

.cus_indicator {
  bottom: -60px;
}

.cus_indicator li {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}

.s_content h2 {
  margin-top: 64px;
}

.s_content h5 {
  padding: 15px 0;
}

.s_content i:hover {
  color: white;
}

.features {
  padding: 100px 0;
}

.features h2 {
  font-size: 22px;
  color: #010101 !important;
}

.features p {
  font-size: 16px;
  color: #898989;
}

.features i {
  color: black;
}

.features i:hover {
  color: #ffd500;
}

.f_title {
  margin: 0 13%;
}

.f_title p {
  margin-bottom: 85px;
}

.social {
  background-color: #232527;
  padding-top: 100px;
  padding-bottom: 50px;
}

.social h2 {
  color: #ffd500;
  font-weight: bold;
  font-size: 32px;
}

.social p {
  color: #898989;
  margin-bottom: 30px;
}

.social button {
  background-color: #ffd500;
  border: none;
  font-weight: bold;
  padding: 12px 31%;
  margin-left: -32%;
}

.social button:hover {
  background-color: white;
  border: none;
}

.social input {
  padding: 24px 16px;
  width: 91%;
  margin-left: 7%;
}

.cus_icon {
  color: #ffd500;
  padding: 43px 2%;
}

.cus_icon:hover {
  color: white;
}

footer {
  background-color: #232527;
  padding-bottom: 50px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ffd500;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */